@font-face {
    font-family: DivisionOneBold; 
    src: url(./fonts/DivisionOne-Bold.otf); 
  } 

  @font-face {
    font-family: ROMANUS; 
    src: url(./fonts/ROMANUS.otf); 
  } 

h2{
    font-family:ROMANUS;
}
h1{
  font-family:DivisionOneBold;
}
